.header {
    font-size: 18px;
    padding: 10px 36px;
    position: absolute;
    width: 100%;
    top: 0;
}

.site-header .logo{
    text-align: center;
    padding-top: 15px;
    color: #eee;
}

.site-header li a {
    color: #eee;
}

.site-header li {
    float: left;
    padding: 15px;
}

.site-header .search-form {
    width: 296px;
    margin-top: 22px;
}

.site-header .search-form .search {
    border-right: none;
    width: 223px;
}

.site-header .search-form .search-btn {
    width: 52px;
}

.site-header .search-form input {
    padding: 0;
    height: 50px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}